.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}
.loader {
	animation: animation 2s  infinite alternate;
}
@keyframes animation {
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
	
}
.loaded .loader{
	display: none;
}
.loaded_hiding .loader{
	display: flex;
}