
@keyframes animation {
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
	
}
.loaded_hiding .loader {
	transition: 0.3s opacity;
	opacity: 0;
}

.loaded .loader {
	display: none;
}
.loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
	
	
}
.loader_inner {
	animation: animation 2s  infinite alternate;
}